/* Reset default margin and padding */
* {
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    background: #ffffff;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ed3c21;
    padding: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.language-selector select {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 5px;
}

/* Logo and social media icon sizes */
.main-logo {
    width: 100px; /* Adjust the width to your preference */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}

.social-icon {
    width: 40px; /* Adjust the width to your preference */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}


/* Main content styles */
main {
    padding: 20px;
}

.intro {
    background: url('background-image.jpg') rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: #ffffff;
}

/*.social-media-links a {
    display: inline-block;
    margin-right: 20px;
    border: 2px solid #4a2263;
    border-radius: 50%;
    padding: 10px;
    background: #833caf;
    color: #ffffff;
    text-decoration: none;
}*/

.quote-card {
    padding: 20px;
    border: 1px solid #000000;
    background: #ffffff;
}

/* Footer styles */
footer {
    background: #ed3c21;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.heart {
    color: #ed3c21;
}

/* Font styles */
h1, h2, h3, h4, h5 {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}
h2 {font-size: 3.158rem; /* 50.56px */}
h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}
h5 {font-size: 1.333rem; /* 21.28px */}
small {font-size: 0.750rem; /* 12px */}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}


