/*
--text: #ffffff;
--background: #000000;
--primary: #8fb2ff;
--secondary: #ebf1ff;
--links bg color: #f5f7f9
--accent: #ff5900; */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    color: #000000;
    background: #ffffff; /* Very dark blue background */
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 0px;
    padding-left: 250px;
    padding-right: 250px;
    border-bottom: 1px solid #d8d8d8;
}

.left-side {
    display: flex;
    align-items: center;
}

.right-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.homepagelink {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem; /* Increase the font size */
    color: black;
    text-decoration: none;
}

.lang {
    font-size: 20px;
}

.line {
    background-color: transparent;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 27px;
    position: relative;
}
  
.line:after,
.line:before {
    background: #ff0000;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transform-origin: 0 0;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
}
  
.line:before {
    opacity: 0.5;
    transform: translateZ(0) scaleX(0);
    transform-origin: 100% 100%;
    transition: transform 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.15s;
}
  
.line:hover:after {
    transform: translateZ(0) scaleX(0);
    transform-origin: 100% 100%;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 120px;
    padding-bottom: 310px;
    color: #000000;
    background-color: #f5f7f9;
    line-height: 1.5;
    position: relative;
    border-radius: 15px;
}

.intro::before {
    background-image: url('../resouces/tayf-banner-no-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 160% auto;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.8;
    border-radius: 15px;
}

.intro h1 {
    isolation: isolate;
    font-size: 65px;
    font-weight: 700;
    margin: 20px 90px;
}

.intro p {
    isolation: isolate;
    font-size: 35px;
    margin: 10px 90px;
}

.above-cards {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #000000;
}

/* CSS for Bento Box */
.bento-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 10px;
    padding: 0px;
    width: 1365px;
    height: 800px;
    gap: 15px;
}

.row {
    display: flex;
    gap: 15px;
}

/* Base styles for all cards */
.boxcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 27px;
    color: #000000;
    text-align: center;
    position: relative;
}

.boxcard h2 {
    font-size: 45px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 5px;
}

.boxcard p {
    font-size: 25px;
    margin: 0px;
}

.boxcard button {
    background-color: #ff5900;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 20px;
}

.p11 {
    background-image: url('../resouces/bento_clothing.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% auto;
    width: 865px;
    height: 230px;
    content: "";
    position: relative;
    inset: 0;
    border-radius: 15px;
}

.p12 {
    background-image: url('../resouces/bento_posters.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% auto;
    width: 375px;
    height: 230px;
    content: "";
    position: relative;
    inset: 0;
    border-radius: 15px;
}

.p21 {
    background-image: url('../resouces/bento_stickers.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    width: 620px;
    height: 166px;
    content: "";
    position: relative;
    inset: 0;
    border-radius: 15px;
}
.p21 h2, .p21 p, .p22 h2, .p22 p{
    color: white;
}

.p22 {
    background-image: url('../resouces/bento_bcards.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    width: 620px;
    height: 166px;
    content: "";
    position: relative;
    inset: 0;
    border-radius: 15px;
}

.p31{
    color: #ffffff;
    background-color: #000000;
    width: 1310px;
    height: 200px;
    border-radius: 15px;
}
  
.course {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
    background-color: #ebf1ff;
    border-radius: 15px;
}
.left, .right{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 30px; 
}

.left h2 {
    color: #002470;
    font-size: 40px;
    margin: 10px 0;
}

.left p {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.7;
}

.right h3 {
    color: #002470;
    font-size: 30px;
    margin: 10px 0;
}

.right p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 2;
}

.enrollbtn {
    background-color: #ff5900;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px; /* Adjust the button font size as needed */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
    margin-top: 20px;
}

.enrollbtn:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.089);
    filter: drop-shadow(0px 4px 6px rgba(255, 116, 36, 0.822));
}

footer {
    margin-top: auto; /* Stick the footer to the bottom of the body */
    background: #f2f2f2; /* Use the same color as the header */
    color: #000000;
    text-align: left;
    padding-left: 25px;
    border: 1px solid #d8d8d8;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.contact-info h3{
    padding-bottom: 10px;
    margin-right: 50px;
    border-bottom: 1px solid #d8d8d8;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.links img{
    width: 23px;
    height: auto;
}

.me{
    border-top: 1px solid #d8d8d8;
    margin-right: 50px;
    margin-top: 25px;
}